.story-greeting{
	padding-top: 13%;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
}

.story-message-background{
	width: 500px;
	height: 500px;
	font-family: 'Annie Use Your Telescope', cursive;
	background-image: url("./res/left-cloud.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

.story-message{
	padding-top: 19%;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: 170px;
}

.story-padding{
	margin: 3px;
}

.story-button{
	padding: 25px;
}